@import url('https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

body {
    margin: 0;
    background-color: #F4F1E8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.container {
    text-align: center; /* Center align inner elements */
}
.About_Page{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  .left-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .About-Title{
      font-size: 48px;
      color: #9B4819;
      font-family: 'Radley', serif;
      margin-left: 10%;
    }
    .About-Content {
      color: #3d3021;
      font-family: 'Carlito', sans-serif;
      margin-top: 2%;
      margin-left: 10%;
      font-size: 18px;
    }
  }
  .right-box{
    width: 200px;
    height: 200px;
    .image {
        .img{
            width: 200px;
            height: auto;
            border-radius: 8px;
        }
    }
    
  }
}

.nav_bar ul {
  font-family: 'Radley', serif;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

.nav_bar ul li {
  display: inline;
  margin-right: 20px;
}

.nav_bar ul li a {
  text-decoration: none;
  color: #9B4819;
  cursor: pointer;
}

.nav_bar ul li a:hover {
  text-decoration: underline;
}