@import url('https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');
body {
  margin: 0;
  background-color: #F4F1E8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}
.container {
  text-align: left; /* Center align inner elements */
}
.About_Page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  .left-box{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2%;
    
    .About-Title{
      font-size: 90px;
      color: #9B4819;
      font-family: 'Radley', serif;
      margin-left: 10%;

    }
    .About-Content {
      color: #3d3021;
      font-family: 'Carlito', sans-serif;
      margin-top: 2%;
      margin-left: 10%;
      font-size: 20px;
    }
  }
  .right-box{
    float: right;
    padding: 5%;
    .image {
        border-radius: 50% 50% 0 0;
        background-image: url('/assets/images/profile_image2.jpg');
        width: 425px;
        height: 481px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
  }
}
.nav_bar ul {
  font-family: 'Radley', serif;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 1%;
}
.nav_bar ul li {
  display: inline;
  margin-right: 20px;
}
.nav_bar ul li a {
  text-decoration: none;
  color: #9B4819;
  cursor: pointer;
}
.nav_bar ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .About_Page {
    flex-direction: column; /* Stack elements vertically */
    .image {
      width: 225px;
      height: 281px;
    }
  }

}