@import url('https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

body {
  margin: 0;
  background-color: #F4F1E8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center; /* Center align inner elements */
}

.Introduction {
  margin-bottom: 50px; /* Add some space below the introduction */
}

.Intro-Subtitle {
  font-size: 20px;
  font-family: 'Carlito', sans-serif;
}

.Intro-Title {
  font-size: 90px;
  color: #3d3021;
  font-family: 'Radley', serif;
}

.Intro-Title .brown-text {
  color: #A02020;
}

.nav_bar ul {
  font-family: 'Radley', serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar ul li {
  display: inline;
  margin-right: 20px;
}

.nav_bar ul li a {
  text-decoration: none;
  color: #302020;
  cursor: pointer;
}

.nav_bar ul li a:hover {
  text-decoration: underline;
}
